# Python cache
__pycache__/
*.pyc

# Virtual environment (NEVER deploy this)
venv/
env/
.venv/

# Environment variables (VERY IMPORTANT)
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log